*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Taviraj', serif;
}
:root{
    --primary: #1F2937;
    --secondary-l: #F9FAF8;
    --secondary-s: #E5E7EB;
    --secondary-lyt: #3882F6;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}
.header{
    margin: 0;
    background-color: var(--primary);
    color: white;
}
.container{
    width: 70%;
    margin: 0 auto;
}
.container_small{
    width: 60%;
    margin: 0 auto;
}
.sub_head{
    display: flex;
    flex-direction: column;
    padding: 3em 0 8em 0;
}
.header_navbar{
    display: flex;
    justify-content: space-between;
    margin: 3em 0;
}
.nav_links{
    display: flex;
    gap: 2em;
    margin: 0;
    align-items: center;
}
.logo{
    font-size: 2rem;
}
.vdo{
    font-size: 3rem;
    background-color: var(--secondary-lyt);
    padding: .2em;
    border-radius: 20px;
    margin-right: .5em;
    font-style: italic;
}
h1{
    font-size: 3rem;
}
.nav_links a{
    font-size: 1.3rem;
    padding: 1em .5em;
}
.nav_links a:hover{
    background-color: var(--secondary-lyt);
    border-radius: 10px;

}
.header_content{
    display: flex;
    justify-content: space-between;
}
.hero_img{
    width: 500px;
    border-radius: 20px;
}
.header_content--text p{
    font-size: 1.4rem;
}
.btn_1{
    padding: .5em 2em;
    background-color: var(--secondary-lyt);
    border: 0;
    border-radius: 20px;
}

.btn_1 {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}
.btn_1:hover{
    background-color: white;
    color: var(--primary);
}
.imgs{
    width: 200px;
    height: auto;
    margin: 0 auto;
    border: 2px solid var(--secondary-lyt);
    border-radius: 20px;
}
.hero{
    padding: 5em 0;
}
.hero h2{
    text-align: center;
    font-size: 3rem;
}
.img_container{
    display: flex;
    justify-content: space-between;
    gap: 2em;
}
.img_container div{
    text-align: center;
}
.img_description{
    width: 200px;
    font-size: 1.1rem;
}
.quote{
    background-color: var(--secondary-s);
    padding: 8em 2em;
}
.quotes{
    font-size: 3rem;
    text-align: center;
    font-style: italic;
}
.quote_name{
    font-size: 1.5rem;
    font-weight: 200;
    text-align: right;
    padding-right: 4em;
}
.call_to_action{
    background-color: var(--secondary-lyt);
    color: white;
    padding: 2em;
    margin-top: 7em;
    margin-bottom: 7em;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn_2{
    border-radius: 10px;
    border: 0;
    padding: .3em 1.3em;
    background-color: var(--secondary-lyt);
    border: 3px solid white;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}
.btn_2:hover{
    background-color: white;
    color: var(--primary);
}
footer{
    background-color: var(--primary);
    color: white;
    margin: 0;
    padding: 1.5em;
    text-align: center;
    font-size: 1.3rem;
}